{% extends "booking/base.html" %}
{% block content %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.owner.profile.image.url }}">
    <div class="media-body">
    <div class="article-metadata">
        <a class="mr-2" href="#">{{ object.owner }}</a>
        <small class="text-muted">{{ object.date_listed }}</small>
        <div>
            {% if object.owner == user %}
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'listing-update' object.id %}">Update Listing</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'listing-delete' object.id %}">Delete Listing</a>
            {% endif %}
        </div>
    </div>
    <h2 class="article-title">{{ object.title }}</h2>
    <p class="article-content">{{ object.description }}</p>
    </div>
</article>
{% endblock content %}
