{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend clas="border-bottom mb-4">Login Now!</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login Now!</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                If you need an account,<a class="ml-1" href="{% url 'register' %}">sign up here!</a>
            </small>
        </div>
    </div>
{% endblock content %}